@font-face {
    font-family: moon-house;
    src: url(../assects/font/moon-house.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: moon-house;
    user-select: none;
    font-weight: 100;
    -webkit-user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.navbar-section {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: clamp(5px, 2vw, 15px) clamp(10px, 4vw, 30px);
    font-size: clamp(12px, 1.5vw, 15px);
    border: 2px solid rgb(221, 255, 0);
}

.content {
    height: 100vh;
    width: 100%;
    border: 2px solid red;
}

.headingh1 {
    font-size: clamp(40px, 10vw, 128px);
    line-height: clamp(50px, 11vw, 150px);
    text-transform: uppercase;
    letter-spacing: clamp(-2px, -0.5vw, -8px);
    margin: clamp(170px, 10vw, 150px);
    text-align: center;
    white-space: nowrap;
}

.projects-section {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    /* Hides scroll bar */
    gap: 20px;
    padding: 20px;
    height: 100vh;
    width: 400%;
    /* Adjust based on the number of projects */
}

.project {
    width: 25%;
    /* Adjust size as needed */
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}
.project img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.img-div {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.img-div img {
    width: 10%;
    height: 10%;
}

.project-seen {
    padding: clamp(200px, 15vw, 1000px) clamp(50px, 4vw, 100px);
    text-align: center;
    font-size: clamp(24px, 5vw, 48px);
    line-height: clamp(50px, 8vw, 100px);
    font-weight: 100;
    height: 100vh;
    width: 100%;
    border: 2px solid rgb(221, 255, 0);
    white-space: nowrap;
}

.section-3 {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 900;
    border: 2px solid red;
}

.section-4 {
    height: 100vh;
    width: 100%;
    text-align: center;
    border: 2px solid red;
    padding: 50vh 0px;
}

.section-4>h2 {
    font-size: clamp(30px, 5vw, 70px);
    white-space: nowrap;

    /* margin: ; */
}

.section-4 button {
    height: 50px;
    width: 200px;
    margin: 30px;
    border: 2px solid black;
    background: transparent;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

.see-my_social {
    /* z-index: -2; */
    height: 50vh;
    width: 100%;
    border: 2px solid rgb(255, 0, 0);
    background: #000;
}