@font-face {
    font-family: moon-house;
    src: url(../assects/font/moon-house.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: moon-house;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 100;
    -webkit-user-select: none;
    /* cursor: none; */
}

html,
body {
    height: 100%;
    width: 100%;
}

.navbar-section {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: clamp(5px, 2vw, 15px) clamp(10px, 4vw, 30px);
    font-size: clamp(12px, 1.5vw, 15px);
    /* border: 2px solid rgb(221, 255, 0); */
}

.navbar-section i {
    font-size: 30px;
}

.navbar-section h2 {
    font-size: 40px;
}

.content {
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
}

.headingh1 {
    font-size: clamp(40px, 10vw, 128px);
    line-height: clamp(50px, 11vw, 150px);
    text-transform: uppercase;
    letter-spacing: clamp(-2px, -0.5vw, -8px);
    margin: clamp(170px, 10vw, 150px);
    text-align: center;
    white-space: nowrap;
    cursor: none;
}
/* start project ========================== */
.projects-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* Adjust the gap between projects */
    width: 100%;
    height: 200vh;
}

.project {
    width: 38vw;
    /* Adjust width to fit more projects in view */
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid red;
}

.project img {
    width: 100%;
    height: 80%;
}

.project span {
    margin-top: 10px;
    /* Add spacing between the image and text */
    font-size: 1.2em;
    font-weight: bold;
}

.div-for-wedsite {
    height: 100vh;
    width: 100%;
    border: 2px solid red;
}

.div-for-wedsite h1 {
    margin: 40px 100px;
    font-size: 150px;
}

.div-inner {
    margin-left: 60%;
    background: rgb(243, 243, 238);
    height: 3vh;
    width: 45%;
}

.img-div {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.img-div img {
    width: 10%;
    height: 10%;
}

.project-seen {
    padding: clamp(200px, 15vw, 1000px) clamp(50px, 4vw, 100px);
    text-align: center;
    font-size: clamp(24px, 5vw, 48px);
    line-height: clamp(50px, 8vw, 100px);
    font-weight: 100;
    height: 100vh;
    width: 100%;
    /* border: 2px solid rgb(221, 255, 0); */
    white-space: nowrap;
}

.section-3 {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 900;
    /* border: 2px solid red; */
}

.section-4 {
    height: 100vh;
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
    padding: 50vh 0px;
}

.section-4>h2 {
    font-size: clamp(50px, 5vw, 70px);
    white-space: nowrap;

    /* margin: ; */
}

.section-4 button {
    height: 50px;
    width: 200px;
    margin: 30px;
    border: 2px solid black;
    background: transparent;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

.see-my_social {
    /* z-index: -2; */
    height: 50vh;
    width: 100%;
    /* border: 2px solid rgb(255, 0, 0); */
    background: #0f110e;
    display: flex;
}

.gorup1left {
    width: 50%;
    height: 100%;
    border: 2px solid red;
}

.gorup1left img {
    height: 40vh;
    width: 40%;
    border-radius: 2%;
}

.group2rigth {
    width: 50%;
    height: 100%;
    border: 2px solid rgb(38, 0, 255);
    float: left;
}